<footer class="footer py-5">
    <div class="sticky-right">
        <a href="#home" class="icon icon-primary icon-md btn btn-icon-only btn-white border border-soft shadow-soft animate-up-3">
            <span class="fas fa-chevron-up"></span>
        </a>
    </div>
    <div class="container" >
        <div class="  d-flex row align-items-center">
            <div class="col-auto">
                <a href="/" class="d-flex align-items-center">
                    <!-- <img src="@@path/assets/img/logo.svg" height="25" alt="Truva Logo"> -->
                    <h1 class="display-5 font-weight-bolder mb-0 navbar-brand-light" >ME2U</h1>
                </a>
            </div>
            <div class="col" >
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <!-- <li class="nav-item"><a href="index.html/#faq" class="nav-link">FAQ</a></li> -->

                </ul>
            </div>
            <div class="col-auto">
                <ul class="nav">
                    <li class="nav-item"><a href="terms.html" class="nav-link">Terms</a></li>
                    <li class="nav-item"><a href="privacy.html" class="nav-link">Privacy</a></li>
                </ul>
            </div>
        </div>


        
    <hr class="d-none d-lg-block">
    <div class="attribution-container pt-6 pt-lg-0" >
        <a href="https://storyset.com/work" class="attribution-link">
            Work illustrations by Storyset  
        </a>
    </div>
        
    </div>


    
</footer>