<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="ME2U">
<meta name="description" content="A platform helping licensed therapists and clinicians deliver personalized memory care while empowering patients to maintain independence through smart daily routines and gentle reminders.">
<meta name="keywords" content="memory care, licensed therapists, clinicians, personalized care, daily routines, progress tracking, quick cues, task management, healthcare technology, patient independence" />
<link rel="canonical" href="https://me2usolution.com">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://me2usolution.com">
<meta property="og:title" content="@@title">
<meta property="og:description" content="A platform helping licensed therapists and clinicians deliver personalized memory care while empowering patients to maintain independence through smart daily routines and gentle reminders.">
<meta property="og:image" content="@@path/assets/img/favicon/m2u-link-preview.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://me2usolution.com">
<meta property="twitter:title" content="@@title">
<meta property="twitter:description" content="A platform helping licensed therapists and clinicians deliver personalized memory care while empowering patients to maintain independence through smart daily routines and gentle reminders.">
<meta property="twitter:image" content="@@path/assets/img/favicon/me2U-32x32.png">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/me2U-120X120.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/me2U-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/me2U-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/me2U-32x32.png" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<script src="https://cdn.jsdelivr.net/npm/@thumbmarkjs/thumbmarkjs/dist/thumbmark.umd.js"></script>
<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Swipe CSS -->
<link type="text/css" href="@@path/css/swipe.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
<!-- @@if (environment === 'production') {
    @@include('./_analytics.html')
} -->
@@include('./_analytics.html')