.video-styles { // mobile styles
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.thumbnail-styles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

// Play button hover effect
.thumbnail-styles {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    }
}

// Video visibility classes with animations
.video-visible {
    opacity: 1 !important;
    z-index: 3;
}

.video-hidden {
    opacity: 0 !important;
    z-index: 1;
}

.thumbnail-visible {
    opacity: 1 !important;    
}

.thumbnail-hidden {
    opacity: 0 !important;
    pointer-events: none;
}





// Remove styles for medium screens and up
@media (min-width: 900px) {
    .video-styles {
        border-radius: 25px;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 769px) {
    .thumbnail-styles:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.0);
    }
}